.calculator {
  margin-top: 25px;
  border: 1px solid #000;
  background-color: rgb(218, 216, 216);
  margin-bottom: 25px;
  padding: 10px 10px 10px 30px;
}

div input {
  margin: 10px;
}
.calc-res {
  margin-top: -13px;
  padding-inline-start: 0px;
}

.calc-res li {
  list-style: none;
  padding: 7px 0px 0px 0px;
}
